.intro-banner {
  padding: var(--space-8) var(--space-4);
  background-color: var(--c-surface);
}

.intro-banner__content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.intro-banner__content h2 {
  font-size: var(--fs-900);
  margin-bottom: var(--space-5);
}

.intro-banner__content p {
  margin-bottom: var(--space-4);
}
